body {
  font-family: 'Raleway', sans-serif;
}

.autosuggest {
  width: 250px;
}

.autosuggest input{
  border: 0px;
  border-bottom: 2px solid #3E3E3E;
  border-radius: 0px;
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
}

.autocomplete-suggestions {
  position: absolute;
}

.autocomplete-suggestion {
  background: #EBEBEB;
  padding: 0px 10px;
}

.autocomplete-suggestion.selected {
  background: #333;
  color: #fff;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 12px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}